
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  /*line-height: 1.2em;*/
  margin: 15px;
}

p {
  color: #333;
}

/* render acts as a window into the 3d scene and controls the perspective of the virtual "camera" */
#render {
  width: 95%;
  height: 500px;
  position: relative;
  margin: auto;
  border: 1px solid #ccc;
  background-color: #DDDDDD;
  overflow-y:hidden;
  overflow-x:hidden;
  
  perspective: 800px;
  -ms-perspective: 800px;
  -moz-perspective: 800px;
  -webkit-perspective: 800px;
}

.object {
  font-size: 10em;
  line-height: 0.9em;
  text-align: center;
  margin: 0px 0px 0px 0px;
}
