
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: normal;
  /*line-height: 1.2em;*/
  margin: 15px;
}

p {
  color: #333;
}

/* render acts as a window into the 3d scene and controls the perspective of the virtual "camera" */
#render {
  font-size: 1em;
  width: 95%;
  height: 31em;
  position: relative;
  margin: auto;
  border: 1px solid #ccc;
  background-color: #DDDDDD;
  overflow-y:hidden;
  overflow-x:hidden;
  
  perspective: 800px;
  -ms-perspective: 800px;
  -moz-perspective: 800px;
  -webkit-perspective: 800px;
}

/* common css for all slides */
.slide {
  font-size: 10em;
  line-height: 0.9em;
  text-align: center;
  /*width: 50%;*/
  /*height: 25em;*/
  /*border: 2px solid #aaa;*/
  /*background-color: rgba(150,150,240,60);*/
  margin: 0px 0px 0px 0px;
  padding: 0.1em;
  overflowY = "auto";
}
